// Image in sidebar
.eccb-tree-node-detail {
  .image-container {
    margin: 0 auto 40px auto;
    padding: 10px;

    .image {
      max-width: 100%;
      max-height: 100%;
      border-radius: 5px;
    }
  }

  .sw-media-field {
    z-index: 99;
  }

  .group {
    display: flex;
    align-items: center;
  }

  .eccb-product-link {
    text-decoration: none;
  }
}

//.eccb-tree-node-detail {
//  .sw-select-result {
//    padding-right: 3em;
//  }
//}


.eccb-tree-node-item-card-select {
  padding-right: 3em;

  span.sw-select-result__result-item-text {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;

    .sw-icon {
      margin-left: 0px;
      margin-right: 5px;
      visibility: hidden;
    }

    .sw-icon:hover {
      color: #ed1c24 !important;
    }
  }
}


li.eccb-tree-node-item-card-select:hover .sw-icon {
  visibility: visible;
  color: gray !important;
}