{% block eccb_tree_node_detail %}
    <sw-page class="eccb-tree-node-detail" ref="page">

        <template #smart-bar-back>
            <router-link v-if="treeNode && $refs.page"
                         class="smart-bar__back-btn"
                         :to="parentRoute"
                         :style="{ 'color': $refs.page.pageColor }">
                <sw-icon name="default-arrow-head-left" small></sw-icon>
                <sw-icon :name="$refs.page.module.icon" v-if="$refs.page.module && $refs.page.module.icon"
                         small></sw-icon>
            </router-link>
        </template>

        <template #smart-bar-header>
            <span v-if="treeNode && treeNode.item && children">
                <img v-if="!treeNode.item.active" class="eccb-header-icon"
                     :src="'eventcandycandybags/static/img/inactive.svg' | asset">
                <img v-else class="eccb-header-icon" :src="'eventcandycandybags/static/img/state-2.svg' | asset">
            </span>
            <h2 style="display: inline;" v-html="treeNode ? treeNode.stepDescription : ''"></h2>
        </template>

        <template #language-switch>
            <sw-language-switch v-if="treeNode"
                                :disabled="treeNode._isNew"
                                @on-change="changeLanguage">
            </sw-language-switch>
        </template>

        {% block eccb_tree_node_list_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block eccb_tree_node_detail_smart_bar_actions_save %}
                    <sw-button variant="primary" @click="onSave" :isLoading="isLoading">
                        {{ $tc('eccb.button.save') }}
                    </sw-button>
                {% endblock %}

                {# {% block eccb_tree_node_detail_smart_bar_actions_cancel %} #}
                {# <sw-button :disabled="treeNode && treeNode.isLoading" #}
                {# @click="onClickCancel"> #}
                {# {{ $tc('eccb.tree-node.detail.back') }} #}
                {# </sw-button> #}
                {# {% endblock %} #}
            </template>
        {% endblock %}

        <template #content>
            <sw-card-view v-if="treeNode" :large="false">
                <sw-card :large="false">

                    <sw-text-field
                            :label="$tc('eccb.field.stepDescription')"
                            v-model="treeNode.stepDescription">
                    </sw-text-field>


                    <sw-select-field
                            :disabled="!treeNode.parentId"
                            v-model="treeNode.item.type"
                            :label="$tc('eccb.field.type')">
                        <option value="card">Card</option>
                        <option v-if="!treeNode.parentId" value="step">Step</option>
                    </sw-select-field>


                    <sw-checkbox-field
                            style="display: inline-block; margin-right: 2em"
                            :label="$tc('eccb.field.active')"
                            v-model="treeNode.item.active"></sw-checkbox-field>

                    <sw-checkbox-field
                            v-if="treeNode.item.type !== 'step'"
                            style="display: inline-block; margin-right: 2em"
                            :label="$tc('eccb.field.purchasable')"
                            v-model="treeNode.item.purchasable"></sw-checkbox-field>

                    <sw-checkbox-field
                            v-if="treeNode.item.type !== 'step'"
                            style="display: inline-block; margin-right: 2em"
                            :label="$tc('eccb.field.terminal')"
                            v-model="treeNode.item.terminal"></sw-checkbox-field>
                </sw-card>


                <sw-card v-if="treeNode.item.type == 'card' && itemCard">

                    <div class="group">
                        <sw-button
                                style="margin-right: 1em;"
                                variant="primary"
                                @click="createNewItemCard">
                            {{ $tc('eccb.itemCard.newCard') }}
                        </sw-button>

                        <sw-single-select
                                style="display: inline-block; margin-right: 1em;"
                                ref="select"
                                v-if="itemCard && itemCardList && itemCardList.length"
                                :options="itemCardOptions"
                                labelValue="label"
                                valueProperty="value"
                                :placeholder="'Select a card...'"
                                :label="$tc('eccb.itemCard.selectCard')"
                                :value="treeNode.item.itemCardId"
                                @change="changeCard"
                                @search="searchCard"
                                required
                        >

                            <template
                                    #result-item="{ item, index, labelProperty, searchTerm, highlightSearchTerm, isSelected, setValue, getKey }">
                                <li is="sw-select-result"
                                    :class="'sw-select-option--' + item.value + ' eccb-tree-node-item-card-select'"
                                    :selected="isSelected(item)"
                                    @item-select="setValue"
                                    v-bind="{ item, index }">
                                    <slot name="result-label-property"
                                          v-bind="{ item, index, labelProperty, searchTerm, highlightSearchTerm, getKey }">
                                        <sw-highlight-text
                                                v-if="highlightSearchTerm"
                                                :text="getKey(item, labelProperty)"
                                                :searchTerm="searchTerm">
                                        </sw-highlight-text>
                                        <template v-else>
                                            {{ getKey(item, labelProperty) }}
                                        </template>
                                        <sw-icon
                                                @click.stop="deleteItemCard(item)"
                                                size="12px"
                                                name="small-trash"
                                                :color="$refs.page.pageColor">
                                        </sw-icon>
                                    </slot>
                                </li>
                            </template>
                        </sw-single-select>


                        <sw-text-field
                                v-if="itemCard"
                                style="display: inline-block;"
                                :label="$tc('eccb.itemCard.internalName')"
                                v-model="itemCard.internalName">
                        </sw-text-field>

                    </div>

                    <sw-text-field
                            v-if="itemCard"
                            :label="$tc('eccb.field.name')"
                            v-model="itemCard.name">
                    </sw-text-field>

                    <sw-text-field
                            v-if="itemCard"
                            :label="$tc('eccb.field.description')"
                            v-model="itemCard.description">
                    </sw-text-field>

                    <eccb-media-field
                            v-if="itemCard"
                            :label="$tc('eccb.field.image')"
                            v-model="itemCard.mediaId"
                            :showUploadField="false"
                            :showControls="false"
                            @eccb-media-id-change="onChangeMedia"
                            :mediaFolderName="'Candy Bags'"
                    >
                    </eccb-media-field>

                    <sw-checkbox-field
                            v-if="itemCard"
                            style="display: inline-block; margin-right: 2em"
                            :label="$tc('eccb.itemCard.showPrice')"
                            v-model="itemCard.showPrice"></sw-checkbox-field>

                        <router-link v-if="itemCard.product"
                                     class="eccb-product-link"
                                     :to="{ name: 'sw.product.detail', params: { id: itemCard.product.id } }"
                                     :style="{ 'color': '#00A1FF' }">
                            <sw-icon name="default-web-link" small></sw-icon>&nbsp;
                            {{ itemCard.product.name }}
                        </router-link>


                    <sw-single-select
                            v-if="products.length"
                            :options="productOptions"
                            labelValue="label"
                            valueProperty="value"
                            :placeholder="$tc('eccb.itemCard.addProduct')"
                            :label="$tc('eccb.itemCard.product')"
                            :value="itemCard.productId"
                            @change="changeProduct"
                            @select-expanded="getProductList"
                            @search="searchProduct"
                            required
                    >
                    </sw-single-select>


                </sw-card>


                {# Child Grid #}
                <sw-card :large="false" v-if="!treeNode._isNew">
                    <template #title>
                        <h2>
                            {{ $tc('eccb.node.items') }}
                        </h2>
                    </template>

                    <template #toolbar>
                        <sw-button
                                v-if="!treeNode._isNew"
                                variant="primary"
                                :routerLink="createChildRoute"
                        >
                            {{ $tc('eccb.node.addChild') }}
                        </sw-button>
                    </template>

                    <template #grid>
                        <eccb-data-grid
                                v-if="children"
                                ref="treeNodeGrid"
                                :dataSource="children"
                                :columns="childColumns"
                                :allowInlineEdit="true"
                                :showSelection="false"
                                :naturalSorting="true"
                                :isLoading="isLoading"
                                :skeletonItemAmount="limit"
                                @is-inline-edit="setInlineEdit"
                                @inline-edit-save="onInlineEdit"
                        >
                            <template #actions="{ item }">
                                <sw-context-menu-item variant="danger" @click="deleteTreeNode(item)">
                                    {{ $tc('eccb.button.remove') }}
                                </sw-context-menu-item>
                            </template>


                            <template #column-item.position="{item, column}">
                                <template v-if="item.item">
                                    <sw-data-grid-inline-edit
                                            v-if="getInlineEdit(item) && column.hasOwnProperty('inlineEdit')"
                                            :column="column"
                                            :compact="true"
                                            :value="item.item['position']"
                                            @input="item.item['position'] = $event">
                                    </sw-data-grid-inline-edit>
                                </template>
                            </template>

                            <template #column-item.active="{item, column}">
                                <template v-if="item.item">
                                    <sw-data-grid-column-boolean
                                            v-if="item.item"
                                            :column="column"
                                            :compact="true"
                                            :value="item.item['active']"
                                            @input="item.item['active'] = $event"
                                            :isInlineEdit="getInlineEdit(item) && column.hasOwnProperty('inlineEdit')">
                                    </sw-data-grid-column-boolean>
                                </template>
                            </template>

                            <template #column-item.purchasable="{item, column}">
                                <template v-if="item.item">
                                    <sw-data-grid-column-boolean
                                            v-if="item.item"
                                            :column="column"
                                            :compact="true"
                                            :value="item.item['purchasable']"
                                            @input="item.item['purchasable'] = $event"
                                            :isInlineEdit="getInlineEdit(item) && column.hasOwnProperty('inlineEdit')">
                                    </sw-data-grid-column-boolean>
                                </template>
                            </template>

                            <template #column-item.terminal="{item, column}">
                                <template v-if="item.item">
                                    <sw-data-grid-column-boolean
                                            v-if="item.item"
                                            :column="column"
                                            :compact="true"
                                            :value="item.item['terminal']"
                                            @input="item.item['terminal'] = $event"
                                            :isInlineEdit="getInlineEdit(item) && column.hasOwnProperty('inlineEdit')">
                                    </sw-data-grid-column-boolean>
                                </template>
                            </template>

                            <template #pagination>
                                <sw-pagination
                                        v-if="children.length > 0"
                                        :total="total"
                                        :limit="limit"
                                        :page="page"
                                        :steps="[5, 10, 25, 50]"
                                        :autoHide="false"
                                        @page-change="onPageChange">
                                </sw-pagination>
                            </template>

                        </eccb-data-grid>


                    </template>
                </sw-card>

                <eccb-item-set-list-component
                        :treeNode="treeNode">
                </eccb-item-set-list-component>
            </sw-card-view>
            <sw-loader v-else size="50px">
                --
            </sw-loader>
        </template>

        <template #sidebar>
            <sw-sidebar>
                <sw-sidebar-item ref="sidebar" :title="$tc('eccb.field.image')" icon="default-object-image">
                    <div class="image-container">
                        <img v-if="itemCard && itemCard.media && itemCard.media.url && treeNode.item.type === 'card'"
                             class="image"
                             :src="itemCard.media.url"/>
                    </div>
                </sw-sidebar-item>
            </sw-sidebar>
        </template>
    </sw-page>

{% endblock %}