.ec-configurator {

  .modal-header {
    border-bottom: 0.0625rem solid #eaeaea;
  }

  .modal-footer {
    border-top: 0.0625rem solid #eaeaea;
  }

  .modal-content {
    border-radius: 9px;
    background: #fff;
  }

  .show {
    display: block;
  }

  .eccb-show-front-modal {
    display: block;
    background: rgba(0, 0, 0, 0.25);
  }

  .modal-dialog {
    max-width: 50rem;

    input[type="checkbox"] {
      position: absolute;
      left: -15px;
    }

    input[type="checkbox"] + label {
      position: relative;
      display: inline-flex;
      cursor: pointer;
      font-family: sans-serif;
      font-size: 0.875rem;
      line-height: 1.3;
    }

    input[type="checkbox"] + label:before {
      width: 40px;
      height: 22px;
      border-radius: 22px;
      border: 2px solid #ddd;
      background-color: #EEE;
      content: "";
      margin-right: 15px;
      transition: background-color 0.5s linear;
    }

    input[type="checkbox"] + label:after {
      width: 18px;
      height: 18px;
      border-radius: 22px;
      background-color: #fff;
      content: "";
      transition: margin 0.1s linear;
      box-shadow: 0px 0px 5px #aaa;
      position: absolute;
      left: 2px;
      top: 2px;
    }

    input[type="checkbox"]:checked + label:before {
      background-color: $primary;
    }

    input[type="checkbox"]:checked + label:after {
      margin: 0 0 0 18px;
    }
  }
}