/*Spinner*/

.ec-spinner {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    margin-top: 5rem;
    animation: ec-spinner 2.5s infinite linear both;
    z-index: 99;
}

.ec-spinner-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: ec-spinner-dot 2.0s infinite ease-in-out both;
}

.ec-spinner-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: $primary;
    border-radius: 100%;
    animation: ec-spinner-dot-before 2.0s infinite ease-in-out both;
}

.ec-spinner-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.ec-spinner-dot:nth-child(2) {
    animation-delay: -1.0s;
}

.ec-spinner-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.ec-spinner-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.ec-spinner-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.ec-spinner-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.ec-spinner-dot:nth-child(1):before {
    animation-delay: -1.1s;
}

.ec-spinner-dot:nth-child(2):before {
    animation-delay: -1.0s;
}

.ec-spinner-dot:nth-child(3):before {
    animation-delay: -0.9s;
}

.ec-spinner-dot:nth-child(4):before {
    animation-delay: -0.8s;
}

.ec-spinner-dot:nth-child(5):before {
    animation-delay: -0.7s;
}

.ec-spinner-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

@keyframes ec-spinner {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes ec-spinner-dot {
    80%, 100% {
        transform: rotate(360deg);
    }
}

@keyframes ec-spinner-dot-before {
    50% {
        transform: scale(0.4);
    }
    100%, 0% {
        transform: scale(1.0);
    }
}