@import "_spinner.scss";
@import "finish-modal.scss";

@media (min-width: 576px) {
  .ec-entity-description {
    max-width: 70%;
  }
}

.eccb-show-front-modal {
  display: block;
  background: #000000b3;
}

.ec-entity-description {
  font-size: 1rem;
}

.ec-price-selected {
  margin-right: 1em;
  margin-left: 1em;
}

.ec-icon {
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 20%;
  right: 2%;
  transition: all 0.2s;
}

.ec-icon-header {
  width: 24px;
  height: 24px;
  bottom: 20%;
  right: 2%;
  transition: all 0.5s;
}

.ec-icon-selected {
  width: 24px;
  height: 24px;
  bottom: 20%;
  right: 2%;
  transition: all 0.2s;

  &:hover {
    border: 1px solid #7E97AD;
    border-radius: 25%;
  }
}

.expanded {
  transform: rotate(90deg);
}

.ec-configurator {

  .modal-dialog {
    max-width: 50rem;
  }


  .card {
    margin-bottom: 2em;
    box-sizing: content-box;

    .card-header {
      border: 1px solid $primary;
      border-radius: 6px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      transition: box-shadow 0.2s, -moz-box-shadow 0.2s, -webkit-box-shadow 0.2s;

      &:hover {
        h4 {
          text-decoration: underline;
        }

        //-webkit-box-shadow: 1px 1px 20px 0px rgba(145, 143, 145, 1);
        //-moz-box-shadow: 1px 1px 20px 0px rgba(145, 143, 145, 1);
        //box-shadow: 1px 1px 20px 0px rgba(145, 143, 145, 1);

      }
    }
  }

  .weight-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 10px;
    width: 100%;

    .badge {
      min-width: fit-content;
    }
  }

  .product-data-price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 10px;
    width: 100%;

  }

  .ec-price {
    float: right;
    margin-right: 1em;
    margin-left: auto;
  }

  .ec-reference-price {
    padding-top: 5px;
    font-size: small;
  }

  .selected {
    border: 2px solid $primary !important;
  }

  .selected-list-item-header {
    display: flex;
    justify-content: space-between;
  }

  .ec-cards {
    display: none;
    animation: toggle-out 1s;

  }

  .ec-cards.active {
    margin-top: 1em;
    display: block;
    animation: toggle-in 1s;
  }

  @keyframes toggle-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes toggle-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0
    }
  }

  .ec-card-deck {
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 1em;
    max-height: 500px;
    overflow: auto;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;

    @media (max-width: 575.98px) {
      max-height: 70vh;
    }

    .spacer {
      height: 1em;
      width: 100%;
    }
  }


  .ec-card {
    border-radius: 6px;
    border: 2px solid white;
    max-width: 14rem;
    //min-height: 340px;
    margin: 0.5em;

    @media (max-width: 575.98px) {
      max-width: 90%;
      margin: 0.5em auto;
    }

    -webkit-box-shadow: 1px 1px 8px 0px rgba(161, 161, 161, 1);
    -moz-box-shadow: 1px 1px 8px 0px rgba(161, 161, 161, 1);
    box-shadow: 1px 1px 8px 0px rgba(161, 161, 161, 1);
    transition: box-shadow 0.2s, -moz-box-shadow 0.2s, -webkit-box-shadow 0.2s;

    &:hover {
      -webkit-box-shadow: 1px 1px 20px 0px rgba(145, 143, 145, 1);
      -moz-box-shadow: 1px 1px 20px 0px rgba(145, 143, 145, 1);
      box-shadow: 1px 1px 20px 0px rgba(145, 143, 145, 1);

      //border: 2px solid $secondary !important;
    }

    .card-image-top-wrapper {
      width: inherit;
      min-height: 14rem;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    .card-img-top {
      border-radius: 5px;
      width: 100%;
      display: block;
    }

    .card-body {
      padding-bottom: 1em;
    }

    .card-title {
      border-bottom: none;
      padding-top: 1rem;
      text-align: center;
    }
  }

  .ec-selection_card {
    border-bottom: 1px solid #c4c4c4;
  }
}

