.ec-configurator {
  .card {
    margin-bottom: 2em;
    box-sizing: content-box;

    .card-header {
      border: 1px solid grey;
      border-radius: 6px;

    }
  }

  .ec-cards {
    display: none;
    animation: toggle-out 1s;

  }

  .ec-cards.active {
    margin-top: 1em;
    display: block;
    animation: toggle-in 1s;
  }

  @keyframes toggle-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes toggle-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0
    }
  }

  .ec-card-deck {
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 1em;
    max-height: 500px;
    overflow: auto;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;

    .spacer {
      height: 1em;
      width: 100%;
    }
  }


  .ec-card {
    border-radius: 6px;
    border: none;
    max-width: 300px;
    margin: 0.5em;

    -webkit-box-shadow: 1px 1px 8px 0px rgba(161, 161, 161, 1);
    -moz-box-shadow: 1px 1px 8px 0px rgba(161, 161, 161, 1);
    box-shadow: 1px 1px 8px 0px rgba(161, 161, 161, 1);
    transition: box-shadow 0.2s, -moz-box-shadow 0.2s, -webkit-box-shadow 0.2s;

    .card-image-top-wrapper {
      width: inherit;
      min-height: 300px;
      max-height: 300px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    .card-img-top {
      border-radius: 5px;
      width: 100%;
      display: block;
    }

    .card-body {
      padding-bottom: 1em;
    }

    .card-title {
      border-bottom: none;
      padding-top: 1rem;
      text-align: center;
    }

    .ec-icon {
      width: 50px;
      height: 50px;
      position: absolute;
      bottom: -9px;
      right: 1em;
    }
  }
}

