{% block eccb_step_list %}
    <sw-page class="eccb-step-list">
        <template #smart-bar-header>
            <h2>
                {% block eccb_step_list_smart_bar_header_title %}
                    {{ $tc('eccb.step-list.title') }}
                {% endblock %}
            </h2>
        </template>
        <template #language-switch>
            <sw-language-switch @on-change="changeLanguage"></sw-language-switch>
        </template>


        {% block eccb_step_list_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block eccb_step_list_smart_bar_actions_add %}
                    <sw-button :routerLink="{ name: 'eccb.module.create' }" variant="primary">
                        {{ $tc('eccb.step-list.buttonAddStep') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        <template #content>
            {% block eccb_step_list_content %}
                <sw-entity-listing
                        :items="configuratorSteps"
                        :repository="configuratorStepRepository"
                        :columns="columns"
                        :showSelection="false"
                        detailRoute="eccb.module.stepDetail"
                >
                </sw-entity-listing>

            {% endblock %}
        </template>




    </sw-page>

{% endblock %}