{% block eccb_candybag_list %}
    <sw-page class="eccb-candybag-list">
        <template #smart-bar-header>
            <h2>
                {% block eccb_candybag_list_smart_bar_header_title %}
                {{ $tc('eccb.candybag-list.bagsTitle') }}
                {% endblock %}
            </h2>
        </template>
        <template #language-switch>
            <sw-language-switch @on-change="changeLanguage"></sw-language-switch>
        </template>


        {% block eccb_candybag_list_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block eccb_candybag_list_smart_bar_actions_add %}
                    <sw-button :routerLink="{ name: 'eccb.module.create' }" variant="primary">
                        {{ $tc('eccb.candybag-list.buttonAddCandyBag') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        <template #content>
            {% block eccb_candybag_list_content %}
                <sw-entity-listing
{#                    v-if="candyBags"#}
                    :items="candyBags"
                    :repository="candyBagsRepository"
                    :columns="columns"
                    :showSelection="false"
                    detailRoute="eccb.module.detail"
                >
                </sw-entity-listing>

            {% endblock %}
        </template>




    </sw-page>

{% endblock %}