// Image in sidebar
.eccb-step-set-detail .image-container {
  margin: 0 auto 40px auto;
  padding: 10px;

  .image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
  }
}

.sw-modal {
  z-index: 9999;
}