{% block eccb_step_set_detail %}
    <sw-page class="eccb-step-set-detail">

        <template #smart-bar-header>
            <img v-if="stepSet && !stepSet.active" class="eccb-header-icon"
                 :src="'eventcandycandybags/static/img/state-1-inactive.svg' | asset">
            <img v-else class="eccb-header-icon" :src="'eventcandycandybags/static/img/state-1.svg' | asset">
            <h2 style="display: inline;"
                v-html="stepSet && stepSet.name ? stepSet.name : $tc('eccb.sequence.detail-title')"></h2>
        </template>

        <template #language-switch>
            <sw-language-switch v-if="stepSet"
                                :disabled="stepSet._isNew"
                                @on-change="changeLanguage">
            </sw-language-switch>
        </template>

        {% block eccb_step_set_list_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block eccb_step_set_detail_smart_bar_actions_save %}
                    <sw-button variant="primary" @click="onSave" :isLoading="isLoading">
                        {{ $tc('eccb.button.save') }}
                    </sw-button>
                {% endblock %}

                {# {% block eccb_step_set_detail_smart_bar_actions_cancel %} #}
                {# <sw-button :disabled="stepSet && stepSet.isLoading" #}
                {# @click="onClickCancel"> #}
                {# {{ $tc('eccb.step-set.detail.back') }} #}
                {# </sw-button> #}
                {# {% endblock %} #}
            </template>
        {% endblock %}

        <template #content>
            <sw-card-view v-if="stepSet" :large="false">
                <sw-card :large="false">
                    <sw-text-field
                            :label="$tc('eccb.field.name')"
                            v-model="stepSet.name">
                    </sw-text-field>


                    <sw-text-editor
                            type="textarea"
                            :label="$tc('eccb.field.description')"
                            v-model="stepSet.description">
                    </sw-text-editor>


                    <eccb-media-field
                            :label="$tc('eccb.field.image')"
                            v-model="stepSet.mediaId"
                            :showUploadField="false"
                            :showControls="false"
                            @eccb-media-id-change="onMediaSelect"
                            :mediaFolderName="mediaFolderName"
                    >
                    </eccb-media-field>

                    <eccb-media-field
                            :label="$tc('eccb.sequence.baseImage')"
                            v-model="stepSet.selectionBaseImageId"
                            :showUploadField="false"
                            :showControls="false"
                            :mediaFolderName="mediaFolderName"
                    >
                    </eccb-media-field>

                    <sw-checkbox-field :label="$tc('eccb.field.active')"
                                       v-model="stepSet.active"></sw-checkbox-field>


                    <sw-field
                            type="select"
                            :placeholder="$tc('sw-product.priceForm.placeholderTaxRate')"
                            validation="required"
                            :value="stepSet.taxId"
                            @change="updateCurrentTaxRate"
                            :label="$tc('eccb.sequence.basePrice')"
                    >
                        <option
                                v-for="tax in taxes"
                                :key="tax.id"
                                :value="tax.id"
                                :selected="stepSet.taxId === tax.id">
                            {{ tax.name }}
                        </option>
                    </sw-field>

                    <sw-price-field
                            v-if="stepSet && stepSet.price"
                            :taxRate="stepSet.tax"
                            :price="stepSet.price"
                            :currency="defaultCurrency">
                    </sw-price-field>

                    <sw-number-field
                            style="max-width: 50%"
                            v-if="stepSet"
                            v-model="stepSet.revisitAfter"
                            :label="$tc('eccb.field.revisitAfter')"
                            :placeholder="'15'"
                    ></sw-number-field>

                    <sw-text-field
                            v-if="stepSet"
                            :label="$tc('eccb.field.keywords')"
                            :placeholder="$tc('eccb.field.keywordsPlaceholder')"
                            v-model="stepSet.keywords">
                    </sw-text-field>


                </sw-card>


                <sw-card :large="false" v-if="!stepSet._isNew">

                    <template #title>
                        <h2>
                            {{ $tc('eccb.sequence.steps') }}
                        </h2>
                    </template>

                    <template #toolbar>
                        <sw-button
                                v-if="stepSet"
                                variant="primary"
                                :routerLink="{name: 'eccb.plugin.tree-node.create', query: { stepSetId: stepSet.id }}"
                        >
                            {{ $tc('eccb.sequence.addStep') }}
                        </sw-button>
                    </template>

                    <template #grid>
                        <eccb-data-grid
                                v-if="steps && !isLoading"
                                ref="treeNodeGrid"
                                :dataSource="steps"
                                :columns="treeNodeColumns"
                                @inline-edit-save="onInlineEditTreeNodes"
                                :allowInlineEdit="true"
                                :showSelection="false"
                                :naturalSorting="true"
                                @is-inline-edit="setInlineEdit"
                                :isLoading="isLoading"
                        >
                            <template #actions="{ item }">
                                <sw-context-menu-item @click="editTreeNode(item)">
                                    {{ $tc('eccb.button.edit') }}
                                </sw-context-menu-item>

                                <sw-context-menu-item variant="danger" @click="deleteTreeNode(item)">
                                    {{ $tc('eccb.button.remove') }}
                                </sw-context-menu-item>
                            </template>

                            <template #column-item.position="{item, column}">
                                <template v-if="getInlineEdit(item) && column.hasOwnProperty('inlineEdit')">
                                    <sw-data-grid-inline-edit
                                            v-if="item.item"
                                            :column="column"
                                            :compact="true"
                                            :value="item.item.position"
                                            @input="item.item.position = $event">
                                    </sw-data-grid-inline-edit>
                                </template>
                            </template>

                            <template #column-item.active="{item, column}">
                                <sw-data-grid-column-boolean
                                        v-if="item.item"
                                        v-model="item.item.active"
                                        :isInlineEdit="getInlineEdit(item) && column.hasOwnProperty('inlineEdit')">
                                </sw-data-grid-column-boolean>
                            </template>
                        </eccb-data-grid>

                    </template>
                </sw-card>
            </sw-card-view>
        </template>

        <template #sidebar>
            <sw-sidebar>
                <sw-sidebar-item ref="sidebar" :title="$tc('eccb.field.image')" icon="default-object-image">
                    <div class="image-container">
                        <img v-if="stepSet && stepSet.media && stepSet.media.url"
                             class="image"
                             :src="stepSet.media.url"/>
                    </div>
                </sw-sidebar-item>
            </sw-sidebar>
        </template>
    </sw-page>
{% endblock %}