.eccb-item-set-item-detail .image-container {

  margin: 0 auto 40px auto;
  padding: 10px;

  .image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
  }

  .eccb-product-link {
    text-decoration: none;
  }
}