{% block eccb_step_detail %}
    <sw-page class="eccb-step-detail">

        <template #smart-bar-header>
            <h2 style="display: inline;"
                v-html="configuratorStep && configuratorStep.parent ? configuratorStep.parent.stepDescription : ''"></h2>

            <h2 style="display: inline;" v-html="configuratorStep ? configuratorStep.name : 'Candy Bag Detail'"></h2>
        </template>

        <template #language-switch>
            <sw-language-switch
                    v-if="configuratorStep"
                    :disabled="configuratorStep._isNew"
                    @on-change="changeLanguage">
            </sw-language-switch>
        </template>

        {% block eccb_step_list_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block eccb_step_detail_smart_bar_actions_save %}
                    <sw-button variant="primary" @click="onClickSave()" :isLoading="isLoading">
                        {{ $tc('eccb.step-detail.save') }}
                    </sw-button>
                {% endblock %}

                {% block eccb_step_detail_smart_bar_actions_cancel %}
                    <sw-button :disabled="configuratorStep && configuratorStep.isLoading" @click="onCancel">
                        {{ $tc('eccb.step-detail.back') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        <template #content>
            <sw-card-view v-if="configuratorStep" :large="false">
                <sw-card :large="false">
                    <sw-text-field
                            :label="$tc('eccb.step-detail.name')"
                            v-model="configuratorStep.name">
                    </sw-text-field>

                    <sw-text-field
                            :label="$tc('eccb.step-detail.description')"
                            v-model="configuratorStep.description"
                    >
                    </sw-text-field>


                    <eccb-media-field
                            :label="$tc('eccb.image')"
                            v-model="configuratorStep.mediaId"
                            :showUploadField="false"
                            :showControls="false"
                            @media-id-change="onMediaSelect"
                            :mediaFolderName="'Candy Bags'"
                    >
                    </eccb-media-field>

                    <sw-checkbox-field :label="$t('eccb.active')"
                                       v-model="configuratorStep.active"></sw-checkbox-field>

                    <sw-checkbox-field :label="$t('eccb.purchasable')"
                                       v-model="configuratorStep.purchasable"></sw-checkbox-field>

                    <sw-entity-single-select
                            :placeholder="$tc('configuratorStep.product.placeholder')"
                            :label="$tc('configuratorStep.product.placeholder')"
                            entity="product"
                            v-model="configuratorStep.productId"
                            @change="onSelectProduct"
                    >

                    </sw-entity-single-select>
                </sw-card>

                <sw-card :large="false">
                    <template #title>
                        <h2>
                            Child Step Text
                        </h2>
                    </template>

                    <sw-text-field
                            :label="$tc('eccb.step-detail.stepDescription')"
                            v-model="configuratorStep.stepDescription"
                    >
                    </sw-text-field>
                </sw-card>

                <sw-card :large="false" v-if="!configuratorStep._isNew">

                    <template #title>
                        <h2>
                            Children
                        </h2>
                    </template>

                    <template #toolbar>
                        <sw-button
                                v-if="configuratorStep"
                                variant="primary"
                                :routerLink="{name: 'eccb.module.createChild', params: { parentId: configuratorStep.id }}"
                        >
                            Add Child Step
                        </sw-button>
                    </template>

                    <template #grid>
                        <sw-data-grid
                                ref="childrenGrid"
                                :dataSource="configuratorStep.children"
                                :columns="columns"
                                @inline-edit-save="onInlineEditChild"
                                :allowInlineEdit="true"
                                :showSelection="false"
                                :naturalSorting="true"
                                @column-sort="onSortColumn"
                        >
                            <template #actions="{ item }">
                                <sw-context-menu-item @click="editChild(item)">
                                    Edit
                                </sw-context-menu-item>

                                <sw-context-menu-item variant="danger" @click="deleteChild(item)">
                                    Remove
                                </sw-context-menu-item>
                            </template>

                        </sw-data-grid>
                    </template>
                </sw-card>
            </sw-card-view>
        </template>

        <template #sidebar>
            <sw-sidebar>
                <sw-sidebar-item ref="candyBagSidebar" title="Image" icon="default-object-image">
                    <div class="image-container">
                        <img v-if="configuratorStep && configuratorStep.media && configuratorStep.media.url"
                             class="image"
                             :src="configuratorStep.media.url"/>
                    </div>
                </sw-sidebar-item>
            </sw-sidebar>
        </template>
    </sw-page>
{% endblock %}