{% block sw_admin_menu_item_icon %}
    <template v-if="isEventCandyCandyBagsPath(entry.path)">
		    <span class="sw-admin-menu__navigation-link-icon sw-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="699.23" height="699.23" viewBox="0 0 699.23 699.23"><path d="M109,84.57H265.86c13.93,0,25.22-11.69,25.22-26.1V28.63C291.08,13.92,279.56,2,265.35,2L75.47,3C41.31,3,2,30.57,2,94.39l.9,207.13L2,508.65C2,572.46,41.31,602,75.47,602l189.88,1c14.21,0,25.73-11.93,25.73-26.63V544.57c0-14.42-11.29-26.1-25.22-26.1H109c-16.43,0-29.75-13.79-29.75-30.79V115.35C79.27,98.35,92.59,84.57,109,84.57Z" fill="#ed1c24" fill-rule="evenodd"/><path d="M698,195.59c0-68.68-39.59-89.58-98.79-89.58L422,105.15c-20.74-.09-37.6,18.63-37.6,41.77v21.76h.09l-1.85,473.74c0,58.88,20.64,53.75,58.26,55.73L602,699.23c64.87,0,96-36.69,96-105.37l-.9-197.55ZM626.34,555.86c0,36.94-13.56,79.76-80.36,79.76H474.61c-12.6,0-22.81-11.39-22.81-25.45V460.72c0-16,11.65-29,26-29h61.25c87.27-6.23,87.27,63.87,87.27,87.21Zm0-268.38c0,54.95-12.52,87.15-74.1,87.15H468.37c-9.15,0-16.57-8.28-16.57-18.49V190.61c0-12.11,8.8-21.93,19.67-21.93h78.68c61.58,0,76.19,46,76.19,77.51Z" fill="#ed1c24" fill-rule="evenodd"/></svg>
            </span>
    </template>

    <template v-else>
        {% parent %}
    </template>
{% endblock %}
