{% block eccb_item_set_detail %}
    <sw-page class="eccb-item-set-detail" ref="page">
        <template #smart-bar-back>
            <router-link v-if="itemSet && $refs.page"
                         class="smart-bar__back-btn"
                         :to="parentRoute"
                         :style="{ 'color': $refs.page.pageColor }">
                <sw-icon name="default-arrow-head-left" small></sw-icon>
                <sw-icon :name="$refs.page.module.icon" v-if="$refs.page.module && $refs.page.module.icon"
                         small></sw-icon>
            </router-link>
        </template>

        <template #smart-bar-header>
            <h2 style="display: inline;" v-html="itemSet && itemSet.internalName ? itemSet.internalName : $tc('eccb.itemSet.detail-title')"></h2>
        </template>

        <template #language-switch>
            <sw-language-switch v-if="itemSet"
                    {# :disabled="itemSet._isNew" #}
                                :disabled="true"
                                @on-change="changeLanguage">
            </sw-language-switch>
        </template>

        {% block eccb_item_set_list_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block eccb_item_set_detail_smart_bar_actions_save %}
                    <sw-button variant="primary" @click="onSave" :isLoading="isLoading">
                        {{ $tc('eccb.button.save') }}
                    </sw-button>
                {% endblock %}

                {% block eccb_item_set_detail_smart_bar_actions_cancel %}
                    <sw-button :disabled="itemSet && itemSet.isLoading" @click="onClickListingButton">
                        {{ $tc('eccb.itemSet.goToList') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        <template #content>
            <sw-card-view v-if="itemSet" :large="false">
                <sw-card :large="false">
                    <sw-text-field
                            ref="internalName"
                            v-if="itemSet"
                            :label="$tc('eccb.itemSet.internalName')"
                            v-model="itemSet.internalName">
                    </sw-text-field>
                </sw-card>

                <sw-card :large="false" v-if="!itemSet._isNew">
                    <template #title>
                        <h2>
                            {{ $tc('eccb.itemSet.items') }}
                        </h2>
                    </template>
                    <template #toolbar>
                        <sw-button
                                variant="primary"
                                :routerLink="{name: 'eccb.plugin.item-set.item.create', query: { itemSetId: itemSet.id}}"
                                style="margin-right: 2em"
                        >
                            {{ $tc('eccb.itemSet.addItem') }}
                        </sw-button>
                    </template>

                    <template #grid>
                        <eccb-data-grid
                                v-if="items && items.length > 0"
                                ref="grid"
                                :dataSource="items"
                                :columns="columns"
                                :allowInlineEdit="true"
                                :showSelection="false"
                                :naturalSorting="true"
                                @inline-edit-save="onInlineEdit"
                                :skeletonItemAmount="limit"
                                {# @is-inline-edit="setInlineEdit" #}
                                :isLoading="isLoading"
                        >

                            <template #actions="{ item }">
                                <sw-context-menu-item variant="danger" @click="removeItem(item)">
                                    Remove
                                </sw-context-menu-item>
                            </template>

                            <template #pagination>
                                <sw-pagination
                                        :total="total"
                                        :limit="limit"
                                        :page="page"
                                        :steps="[5, 10, 25, 50]"
                                        :autoHide="false"
                                        @page-change="onPageChange">
                                </sw-pagination>
                            </template>
                        </eccb-data-grid>


                    </template>

                </sw-card>
            </sw-card-view>
        </template>
    </sw-page>
{% endblock %}